### Royal Ontario Museum (ROM) is Toronto's premire cultural institution. They plan to analyze their membership database to enhance marketing campaign and rely on Data for Good (Toronto chapter of Not-for-Profit orgaization) to prepare the data for the upcoming hackathon. I volunteered for data cleaning session held on July 28 2018. Here's my contribution.

In [3]:
import pandas as pd

In [4]:
# There are 7 datasets. Due to the large size, each dataset is stored in 10 different databases.
# They are needed to be merged together before analysis. These datasets are taken from Relational database.
# Primary key is 'MemCnBio_Import_ID' in memCnBio table.

Mem = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_.txt', sep='\t', index_col=None)
    Mem = pd.concat([Mem,x], ignore_index=True)
    
MemArt = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_2.txt', sep='\t', index_col=None)
    MemArt = pd.concat([MemArt,x], ignore_index=True)

MemArtCat_1 = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_3.txt', sep='\t', index_col=None)
    MemArtCat_1 = pd.concat([MemArtCat_1,x], ignore_index=True)

MemCn = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_4.txt', sep='\t', index_col=None)
    MemCn = pd.concat([MemCn,x], ignore_index=True)
    
MemCnBio = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_5.txt', sep='\t', index_col=None)
    MemCnBio = pd.concat([MemCnBio,x], ignore_index=True)

MemHst_1 = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_6.txt', sep='\t', index_col=None)
    MemHst_1 = pd.concat([MemHst_1,x], ignore_index=True)

MemHst_1Gft_1  = pd.DataFrame()
for i in range(0,11):
    x = pd.read_csv('ROM_db' + str(i) + '_7.txt', sep='\t', index_col=None)
    MemHst_1Gft_1 = pd.concat([MemHst_1Gft_1,x], ignore_index=True)

In [5]:
MemCnBio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161164 entries, 0 to 161163
Data columns (total 4 columns):
MemCnBio_IDKEY        161164 non-null int64
MemCnBio_Import_ID    161164 non-null object
MemCnBio_LINK         161164 non-null int64
database_num          161164 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.9+ MB

In [6]:
MemCnBio.describe()

       MemCnBio_IDKEY  MemCnBio_LINK   database_num
count   161164.000000  161164.000000  161164.000000
mean      7470.552009    7470.552009       4.718653
std       4429.455387    4429.455387       3.101040
min          1.000000       1.000000       0.000000
25%       3663.000000    3663.000000       2.000000
50%       7326.000000    7326.000000       5.000000
75%      11217.000000   11217.000000       7.000000
max      17880.000000   17880.000000      10.000000

In [7]:
# Although primary key should be unique, there are many duplication in MemCnBio key
MemCnBio.groupby('MemCnBio_Import_ID')['MemCnBio_Import_ID', 'database_num'].count()[:10]

                      MemCnBio_Import_ID  database_num
MemCnBio_Import_ID
00227-079-0000203394                   1             1
00227-079-0000203408                   1             1
00227-079-0000203415                   1             1
00227-079-0000203417                   2             2
00227-079-0000203421                   1             1
00227-079-0000203438                   2             2
00227-079-0000203440                   1             1
00227-079-0000203444                   1             1
00227-079-0000203450                   2             2
00227-079-0000203456                   1             1

In [8]:
# Create the table of duplicated MemCnBio_Import_ID
duplicate = MemCnBio.groupby('MemCnBio_Import_ID')[['MemCnBio_Import_ID']].count() 
sorted_dup = duplicate.sort_values('MemCnBio_Import_ID', ascending=False)

In [9]:
sorted_dup[sorted_dup['MemCnBio_Import_ID']>1]

                      MemCnBio_Import_ID
MemCnBio_Import_ID
00227-593-0000308299                   4
00227-079-0129825                      4
00227-593-0000242473                   4
00227-593-0000242513                   4
00227-593-0000446501                   3
00227-079-0006531                      3
00227-079-0028884                      3
00227-079-0024912                      3
00227-079-0010770                      3
00227-079-0179982                      3
00227-079-0187911                      3
00227-079-0141208                      3
00227-593-0000232445                   3
00227-079-0010872                      3
00227-079-0084498                      3
00227-079-0026468                      3
00227-079-0053577                      3
00227-079-0164148                      3
00227-079-0130935                      3
00227-593-0000279473                   3
00227-079-0123705                      3
00227-593-0000247125                   2
00227-079-0137210                      2
00227-593-0000329628                   2
00227-593-0000247123                   2
00227-079-0137230                      2
00227-593-0000247121                   2
00227-593-0000247110                   2
00227-593-0000292887                   2
00227-593-0000247027                   2
...                                  ...
00227-079-0078141                      2
00227-079-0065791                      2
00227-593-0000262417                   2
00227-593-0000343495                   2
00227-079-0078150                      2
00227-593-0000465826                   2
00227-593-0000438961                   2
00227-593-0000347803                   2
00227-593-0000383631                   2
00227-593-0000344805                   2
00227-593-0000464950                   2
00227-593-0000342857                   2
00227-079-0077949                      2
00227-593-0000284491                   2
00227-593-0000287701                   2
00227-593-0000347745                   2
00227-079-0057355                      2
00227-079-0057359                      2
00227-079-0065629                      2
00227-079-0073438                      2
00227-593-0000465788                   2
00227-593-0000439993                   2
00227-593-0000259261                   2
00227-593-0000262395                   2
00227-079-0077968                      2
00227-593-0000259264                   2
00227-593-0000460780                   2
00227-079-0077965                      2
00227-593-0000464952                   2
00227-593-0000284487                   2

[18017 rows x 1 columns]

In [11]:
# Extract idex values, which are MemCnBio_Import_IDs appearing in the records more than 2 times, to be used for filter
duplicated_ID = sorted_dup[sorted_dup['MemCnBio_Import_ID']>1].index.values
duplicated_ID

array(['00227-593-0000308299', '00227-079-0129825',
       '00227-593-0000242473', ..., '00227-079-0077965',
       '00227-593-0000464952', '00227-593-0000284487'], dtype=object)

In [19]:
# There are 36059 records with duplicate MemCnBio_Import_ID, which is about right number accorind to the previous check
y = 0
for x in range(0, len(MemCnBio)):
     y += MemCnBio['MemCnBio_Import_ID'].iloc[x] in duplicated_ID
        
print(y)

36059

In [21]:
# Create True/False column to show if MemCnBio_Import_ID is duplicated.
MemCnBio['duplicate'] = MemCnBio['MemCnBio_Import_ID'].apply(lambda x: x in duplicated_ID)

In [34]:
# Show one example of duplication - there are duplication within and between different databases.
MemCnBio[MemCnBio['MemCnBio_Import_ID']=='00227-593-0000242473']

,MemCnBio_IDKEY,MemCnBio_Import_ID,MemCnBio_LINK,database_num,duplicate
1306,1368,00227-593-0000242473,1368,0,True
1313,1375,00227-593-0000242473,1375,0,True
19186,1368,00227-593-0000242473,1368,1,True
19193,1375,00227-593-0000242473,1375,1,True